<% unless is_favorited?(rant) %>

  <span class="favorite-count">❤ <%= rant.favorites.count %></span>

  <%= link_to 'Favorite', rant_favorites_path(rant), method: 'POST', class: 'rant-link' %>

<% else %>

  <span class="favorite-count">❤ <%= rant.favorites.count %></span>

  <%= link_to 'Unfavorite', favorite_path(@favorite), method: 'DELETE', class: 'rant-link' %>

<% end %>
