<% rants.each do |rant| %>
  <div class="rant-blurb">
    <div class="left-blurb">
      <%= rant.user.first_name %>
      <%= image_tag rant.user.avatar %>
    </div>
    <div class="right-blurb">
      <%= rant.rant %>
    </div>
  </div>

  <%= link_to 'Delete', rant_path(rant), method: :delete, class: 'delete-rant-link' %>
<% end %>