<div class="dashboard-div focus">
  <h1>Latest Rants</h1>
  <%= render get_latest_rants %>
  <hr>
  <% if get_mentioned_rants.length > 0 %>
    <h1>Mentioned</h1>
    <%= render get_mentioned_rants %>
    <hr>
  <% end %>

  <h1>My Rants</h1>
  <%= render @user.rants %>


</div>
