<div class="page_container">
  <div class="dashboard-div focus">
    <h1>Latest Rants</h1>
    <%= render 'rants/rantblurb', rants: get_latest_rants %>
    <hr>
    <h1>My Rants</h1>
    <%= render 'rants/rantblurb', rants: @user.rants %>
  </div>

  <%= render 'dashboards/sidebar' %>
</div>