/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=
 *= require_self
 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import "variables";
@import "root_controller";
@import "header";
@import "users";
@import "sessions";
@import "sidebar";
@import "rants";
@import "follows";

.clearfix {
  clear: both;
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

body {
  font-family: Optima, sans-serif;
  margin: 0;
  background-color: $grey;
}

.button {
  width: 90px;
  background-color: $green;
  height: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: $light-green solid 1px;
}

.flash {
  color: $light-green;
  width: 100%;
  text-align: center;
}

.page-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: space-around;
}

.focus {
  color: $dark-grey;
  background-color: white;
  min-width: 320px;
  flex-grow: 1;
  text-align: center;
  margin: 5px;

  hr {
    margin-top: 30px;
    width: 50%;
  }
}

.rantly-splash {
  text-align: center;
  background-color: white;
  padding-bottom: 90px;
  padding-top: 60px;

  h1 {
    font-size: 70px;
    margin-bottom: 25px;
  }
}

.quote-splash {
  background-color: $grey;
  @extend .clearfix;
  color: white;

  .inner-quote-splash {
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    min-width: 320px;
    padding: 10px;

    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    img {
      height: 200px;
      flex-basis: 200px;
      flex-shrink: 0;
      flex-grow: 0;
      margin-left: 50px;
    }

    .text {
      flex-basis: 200px;
      flex-grow: 3;
      flex-shrink: 0;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

