.comment-form {
  input {
    display: block;
    width: 90%;
    margin: auto;
  }

  .button {
    width: 110px;
    float: right;
    margin-right: 5%;
    margin-top: 10px;
  }
}

.comment {
  @extend .clearfix;
  display: block;
  margin-top: 40px;
  text-align: left;

  .comment-left {
    float: left;
    width: 80px;
    margin-right: 20px;

    img {
      height: 70px;
      width: 70px;
      margin: 0;
    }
  }

  p {
    display: inline-block;
  }
}