.follow-div {

  .follow-flex {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    @include breaks;
  }

}

.follow-blurb {
  text-align: center;
  width: 220px;
  padding: 10px;
  margin: auto;

  img {
    display: block;
    width: 200px;
  }

  a {
    display: block;
  }
}