// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-background {
  background-color: white;
  width: 60%;
  min-width: 320px;
  margin: auto;
  margin-top: 2em;

  .inline-block {
    display: inline-block;
    margin-right: 15px;
  }

  .padding {
    padding: 1em;
  }

  h1 {
    padding: .5em;
    margin-bottom: 0;
  }

  label {
    display: block;
  }

  .textfield {
    width: 100%
  }
}

.register-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-right {
  flex-grow: 1;
  margin-right: 20px;
}

.form-left {
  flex-grow: 1;
}

#user_bio {
  width: 100%;
  resize: none;
  rows: 8;
  height: 10em;
}

.radios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  label {
    display: inline;
  }

  div {
    display: inline-block;
    width: 90px;
  }
}

.register-button {
  background-color: $green;
  width: 100%;
  color: white;
  height: 3em;
  border: $light-green solid 1px;
  cursor: pointer;

}

.button-background {
  background-color: white;
  width: 100%;
  padding: 1em;
  border-top: $dark-grey solid 1px;
  margin: auto;
  margin-bottom: 1em;
}

.progress {
  max-width: 100%;
}

.progress .bar {
  height:  25px;
  padding: 5px;
  color:   white;
  font-size: 14px;
  display: none;
  background-color: $green;
}