.show-user-profile {
  padding: 10px;

  .favorite-link, .favorite-count, .unfavorite-link {
      text-align: center;
  }

  .follow-link, .unfollow-link {
    margin-top: 55px;
    float: right;
  }

  h1 {
    display: inline-block;
    margin-bottom: 0;
  }

  h2 {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 0;
    text-align: left;
  }

  img {
    margin: 20px;
    display: block;
    color: lightpink;
  }

  p {
    text-align: left;
  }

  .profile-rants {
    margin-top: 60px;
    max-height: 200px;
    overflow: scroll;
    word-break: break-all;
  }

  .bio {
    min-height: 300px;

    img {
      max-height: 300px;
      max-width: 300px;
      float: left;
    }
  }
}