$dark-grey: #333333;
$green: #257340;
$light-green: #91de76;
$grey: #646464;
$light-grey: #c6c6c6;

@mixin breaks {
  @media all and (min-width: 510px) {
    width: 480px;
  }

  @media all and (min-width: 650px) {
    width: 320px;
  }

  @media all and (min-width: 940px) {
    width: 600px;
  }

  @media all and (min-width: 1034px) {
    width: 700px;
  }

  @media all and (min-width: 1230px) {
    width: 900px;
  }
}