<div class="header-link">
  <%= link_to 'Dashboard', admin_dashboard_path, class: 'border admin-dashboard-link' %>
  <%= link_to 'Rants', admin_rants_path, class: "border rant-header-link" %>
  <%= link_to 'Users', admin_users_path, class: "user-header-link" %>
</div>

<div class="button-div">
  <%= button_to('LOGOUT', '/session', method: 'delete', class: 'button') %>
</div>