  <div class="header-link">
    <%= link_to 'Dashboard', '/dashboard', class: 'border dashboard-link' %>
    <%= link_to 'Following', user_follows_path(@user), class: "border follow-link" %>
    <a class="border">Favorites</a>
    <a>Search</a>
  </div>

  <div class="button-div">
    <%= button_to('LOGOUT', '/session', method: 'delete', class: 'button') %>
  </div>
