  <div class="header-link">
    <%= link_to 'Dashboard', '/dashboard', class: 'border dashboard-link' %>
    <a class="border">Following</a>
    <a class="border">Favorites</a>
    <a>Search</a>
  </div>

  <div class="button-div">
    <%= button_to('LOGOUT', '/session', method: 'delete', class: 'button') %>
  </div>
